.login {
    box-shadow: 0px 0px 0px 4px red;
    padding: 30px;
    margin: 100px auto;
    display: table;
    position: relative;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.8;
    display: none;
}

.loginExit {
    position: absolute;
    top: 10px;
    right: 10px;
}
